@import url('https://fonts.googleapis.com/css2?family=Anybody&display=swap');
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background: url('../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1,
h2,
h3,
h4,
h5,
p {
  color: white;
}
.text-muted {
  color: rgb(208, 208, 208) !important;
}
.nav-item{
  background-color: rgba(34, 34, 34, 0.483);
}
.nav-item.show .nav-link,
.nav-link.active {
  background-color: rgba(255, 255, 255, 0.646);
}
.item {
  width: fit-content;
}
.nav-link h1,
.nav-link h2,
.nav-link h3,
.nav-link h4,
.nav-link h5,
.nav-link p {
  color: rgb(90, 170, 255);
}
.nav-link.active h1,
.nav-link.active h2,
.nav-link.active h3,
.nav-link.active h4,
.nav-link.active h5,
.nav-link.active p {
  color: rgb(44, 44, 44);
}
.nav-link.active .text-muted {
  color: rgb(111, 111, 111) !important;
}
p {
  margin: 0 0 0.5em 0;
}
.nav,
.card {
  background-color: rgba(137, 137, 137, 0.456);
}
.tab-content.details-tabcontent {
  background-color: rgba(103, 103, 103, 0.488);
}
body.Thunderstorm {
  background: url('../img/thunderstorm.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.Drizzle {
  background: url('../img/drizzle.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.Rain {
  background: url('../img/rain.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body.n10n,
body.n13n,
body.n09n {
  background: url('../img/rain_n.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.Snow {
  background: url('../img/snow.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.Mist {
  background: url('../img/mist.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body.n50n {
  background: url('../img/mist_n.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.Clouds {
  background: url('../img/clouds.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body.n02n,
body.n03n,
body.n04n {
  background: url('../img/clouds_n.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.Clear {
  background: url('../img/clear.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body.n01n{
  background: url('../img/clear_n.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.Smoke {
  background: url('../img/haze.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.Haze {
  background: url('../img/haze.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.Dust {
  background: url('../img/dust.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body.Fog {
  background: url('../img/fog.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body.Sand {
  background: url('../img/sand.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body.Ash {
  background: url('../img/ash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body.Squall {
  background: url('../img/squall.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body.Tornado {
  background: url('../img/tornado.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
input[type='search'] {
  background-color: #d1d1d12b !important;
}
#myChart{
  color: #ffffff !important;
  background-color: rgba(179, 179, 179, 0.456) !important;
}
.nav.nav-tabs{
  background: transparent;
}
